@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Kollektif';
  src: url('/fonts/Kollektif.ttf') format('truetype');
  /* src: url('/fonts/Kollektif-BoldItalic.ttf') format('truetype'); */
  /* src: url('/fonts/Kollektif-Italic.ttf') format('truetype'); */
}

body {
  font-family: 'Kollektif', sans-serif;
  font-style: normal;
  background-color: #f3f4f6;
}

@media (max-width: 767px) {
  input[type='date'].mobile::before {
    content: 'Enter date';
    position: absolute;
  }
}

@media (min-width: 768px) {
  input[type='date'].mobile::before {
    content: '';
  }
}
